* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	position: relative;
	width: 300px;
	height: 250px;
	background-color: #ee3625;
	overflow: hidden;
	margin: 0 auto;
}

#red {
	background-color: #ee3625;
}

.img {
	position: absolute;
	left: 0;
	top: 0;
	width: 300px;
	height: auto;
}

.hide {
	opacity: 0;
}

.copy {
	position: absolute;
	font-size: 30px;
	color: #fff;
	line-height: 30px;
	font-weight: 600;
	white-space: nowrap;
	font-family: 'Roboto', sans-serif;
}

.copy1 {
	position: absolute;
	font-size: 30px;
	color: #fff;
	top: -25px;
	left: 33px;
	line-height: 30px;
	font-weight: 600;
	white-space: nowrap;
	font-family: 'Roboto', sans-serif;
}

#text {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 160px;
	height: 70px;
	border-bottom: solid 4px #ee3625;
}

/* #border {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: solid 1px #ccc;
	z-index: 99;
} */

#placename {
	position: absolute;
	top: 32px;
}

#finalFrame {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #ee3625;
}

#finalCopy {
	left: 20px;
	top: 20px;
	white-space: initial;
}

#cta {
	position: absolute;
	left: 20px;
	top: 100px;
	width: auto;
	height: 40px;
	padding: 0 15px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	border: solid 2px #fff;
	text-align: center;
	line-height: 40px;
	font-family: 'Roboto', sans-serif;
}

.firsttext {
	position: absolute;
	color: white;
	top: 160px;
	left: 18px;
	font-size: 19px;
	font-family: 'Roboto', sans-serif;
}

.firsttext1 {
	position: absolute;
	color: white;
	top: 196px;
	left: 20px;
	font-family: 'Roboto', sans-serif;

}